/* general CSS utilities */

/* hide from screen but not screen readers */
.clip {
  position: fixed !important;
  clip: rect(1px 1px 1px 1px);
}

/* clearfix */
.cf {
  zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after { clear: both; }
}

.pointer { cursor: pointer; }
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }

.dim {
  transition: opacity 0.15s ease-in-out;
  opacity: 1;

  &:hover,
  &:active {
    opacity: 0.8;
  }
}
