/*************************/
/* about section styling */
/*************************/

#about {
  padding: 2rem 0;
  lost-utility: clearfix;
}

.about-blurb {
  font-size: 1.2rem;
}

#about-words {
  lost-center: 90%;

  @media (--large-view) {
    float: right;
    width: 67%;
  }
}

#about-figure {
  margin: 0 5%;
  width: 90%;

  @media (--medium-view) {
    margin: 0 10%;
    width: 80%;
  }

  @media (--large-view) {
    float: left;
    margin: 0;
    width: 33%;
  }
}
