/* fonts and imports */

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import './breaks.css';
@import './title.css';
@import './reel.css';
@import './nav.css';
@import './section.css';
@import './about.css';
@import './modal.css';

p {
  font-family: 'PT Sans Narrow', serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', serif;
  font-weight: normal;
}

/* normalize */

* {
  box-sizing: border-box;
  color: black;
  line-height: 1.2;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #06c;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #639;
  }
}

.is-faded-out {
  transition: opacity 300ms;
  opacity: 0;
}

.is-faded-in {
  transition: opacity 300ms;
  opacity: 1;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.container,
.section {
  border-bottom: 1px solid grey;
}

/* footer styling */

#footer {
  lost-center: 95%;
  text-align: center;
  padding: 1rem 0;
}

.footer-text {
  display: inline-block;
  margin: 0.25rem;

  @media (--small-view) {
    padding: 0.25rem;
  }
}

@media (--small-view) {
  #copyright {
    float: left;
  }

  #built-by {
    float: right;
  }
}
