/*************/
/* normalize */
/*************/

* {
  font-family: Helvetica, Arial, sans-serif;  color: black;
}

body {
  /*lost-utility: edit;*/
}

/**************************/
/* title and hero styling */
/**************************/

#title-and-hero-container {
  lost-utility: clearfix;
}

#title {
  lost-utility: clearfix;
  width: 50%;
  margin-left: 25%;
}

#title-image {
  width: 100%;
}

#hero {
  width: 30%;
  margin-left: 35%;
}

.hero-image {
  width: 100%;
}

/***************/
/* nav styling */
/***************/

#nav {
  lost-utility: clearfix;
  padding-left: 5%;
  width: 90%;
}

.nav-link {
  lost-column: 1/3;
}

.nav-link-icon {
  padding: 0 15%;
  width: 70%;
}

.nav-link-title {
  width: 100%;
}

/***************************/
/* generic section styling */
/***************************/

.sections {
  width: 70%;
  margin-left: 15%;
}

section {
  lost-utility: clearfix;
  margin-top: 2rem;
}

.section-banner {
}

.section-banner-item {
  display: inline-block;
  height: 7rem;
}

/************************/
/* film section styling */
/************************/

.video-list {
  list-style: none;
  padding-left: 0;
}

.video-list-item {
  lost-column: 1/3;
}

.video-list-thumbnail-container {
  background-image: url(img/video-frame.png);
  background-size: auto 100%;
  padding: 20.5% 14.5% 11.5% 11.75%;
  width: 73.75%;
}

.video-list-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.video-list-label {
  display: block;
  margin-bottom: 0.75rem;
  text-align: center;
  font-size: 1.5rem;
}
