/*********/
/* fonts */
/*********/

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

p {
  font-family: 'PT Sans Narrow', serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', serif;
  font-weight: 400;
}

/*************/
/* normalize */
/*************/

* {
  box-sizing: border-box;
  color: black;
  line-height: 1.2;
}

body {
  margin: 0;
  background-color: rgba(230, 230, 230, 0.9);
}

a {
  text-decoration: none;
}

.is-faded-out {
  transition: opacity 400ms;
  opacity: 0;
}

.is-faded-in {
  transition: opacity 400ms;
  opacity: 1;
}

.is-hidden {
  display: none;
}

@import './hero.css';

/***************/
/* nav styling */
/***************/

#nav-container {
  background-color: inherit;
  padding: 2rem 0;
}

#nav {
  lost-utility: clearfix;
  lost-center: 95%;

  z-index: 10;
  /*background-color: inherit;*/

  & .nav-link {
    display: block;
    lost-column: 1/3;
  }

  & .nav-link-icon {
    backface-visibility: hidden;
    padding: 0 15%;
    width: 100%;
  }

  & .nav-link-title {
    width: 100%;
  }

  & .nav-links {
    lost-utility: clearfix;
  }

  & .social-link {
    lost-column: 1/7;
  }

  & #page-links {
    width: 100%;
  }

  & #social-links {
    lost-center: 40%;
    padding-top: 1rem;

    & .social-link-icon {
      width: 100%;
    }
  }

  &.is-top-nav {
    position: fixed;
    lost-center: none;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    background-color: inherit;

    & #page-links {
      padding: 1rem 1rem;
      width: 40%;
      float: left;
    }

    & #social-links {
      lost-center: none;
      padding: 1rem 1rem;
      width: 35%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    & .nav-link-title {
      display: none;
    }
  }
}

/***************************/
/* generic section styling */
/***************************/

.sections {
  width: 100%;
}

.section {
  padding-top: 3%;
  width: 100%;
}

.section-banner {
  width: 100%;
  text-align: center;
}

.section-banner-item {
  display: inline-block;
  /*height: 7rem;*/
}

.section-banner-image {
  width: 100%;
}

.section-story-list {
  lost-utility: clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
  /*lost-align: center;*/
}

.story-list-item {
  lost-column: 1/3 3 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.story-list-item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 16rem;
}

.story-text {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.story-title-container {
  bottom: 0;
  height: 4rem;

  & .story-title {
    position: absolute;
    margin: 0;
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.2rem;
  }
}

.story-blurb {
  font-size: 1rem;
  top: 0;
}

/************************/
/* film section styling */
/************************/

#film {
  background-color: rgba(255, 255, 255, 0.9);
}

#film-modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  padding: 5%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7)
}

#film-modal-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#film-modal-close-button {
  position: absolute;
  border: 0;
  border-radius: 0.25rem;
  padding: 0;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(img/close.png);
  background-position: center;
  background-size: contain;
  background-repeat: 0;
}

#film-modal-embed {
  width: 100%;
  height: 100%;
}

/***************************/
/* writing section styling */
/***************************/

#writing {
  background-color: rgba(159, 159, 173, 0.9);
}

/*************************/
/* about section styling */
/*************************/

#about {
  background-color: rgba(194, 201, 209, 0.9);
  lost-utility: clearfix;
  width: 100%;
}

.about-item {
  lost-center: 70%;
}

.about-blurb {
  font-size: 1.2rem;
}

#about-words {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

#about-figure-header {
  width: 100%;
  padding: 0 32%;
}

#about-figure-image {
  width: 50%;
  margin: 0 25%;
}

#about-diagram {
  width: 100%;
  padding: 3rem;
}

/******************/
/* footer styling */
/******************/

#footer {
  lost-utility: clearfix;
  background-color: inherit;
}

.footer-text {
  display: inline-block;
  margin: 1rem 1rem;
}

#copyright {
  float: left;
}

#built-by {
  float: right;
}
