/***************/
/* nav styling */
/***************/

#nav-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 0;
  lost-center: 90%;
}

#nav {
  lost-utility: clearfix;
  lost-center: 95%;

  @media (--xlarge-view) {
    lost-center: 75%;
  }

  z-index: 10;
}

.nav-link {
  display: block;
  lost-center: 80%;

  @media (--medium-view) {
    lost-center: none;
    lost-column: 1/3;
  }
}

.nav-link-icon {
  backface-visibility: hidden;
  padding: 0 15%;
  width: 100%;
}

.nav-link-title {
  width: 100%;
}

.nav-links {
  lost-utility: clearfix;
}

.social-link {
  display: block;
  lost-column: 1/7 7 1rem;
}

#page-links {
  width: 100%;
}

#social-links {
  width: 100%;
  padding-top: 1rem;

  & .social-link-icon {
    width: 100%;
  }

  @media (--medium-view) {
    lost-center: 60%;
  }

  @media (--large-view) {
    lost-center: 50%;
  }

  @media (--xlarge-view) {
    lost-center: 40%;
  }
}

#nav.is-side-nav {
  @media (--large-view) {
    position: fixed;
    lost-center: none;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 0;

    & .nav-links {
      position: absolute;
      padding-top: 1rem;
      width: 12.5%;
    }

    & #page-links {
      left: 0;
    }

    & #social-links {
      right: 0;
    }

    & .nav-link {
      margin: 0;
      lost-column: none;
      padding: 5% 5%;
      width: 100%;
    }

    & .nav-link-icon {
      padding: 0;
    }

    & .nav-link-title {
      display: none;
    }

    & .social-link {
      margin: 0;
      lost-column: none;
      padding: 3% 33%;
      width: 100%;
    }
  }
}
