/****************/
/* reel styling */
/****************/

#reel-container {
  margin: 3rem 0;
  lost-center: 90%;
  height: 24rem;

  @media (min-width: map(breaks, smallToMedium)) {
    lost-center: 80%;
  }

  @media (min-width: map(breaks, mediumToLarge)) {
    lost-center: 60%;
  }
}

#reel {
  width: 100%;
  height: 100%;
}
