/* generic section styling */

.sections {
  width: 100%;
}

.section {
  @media (--large-view) {
    lost-center: 75%;
  }

  @media (--xlarge-view) {
    lost-center: 60%;
  }
}

.section-banner {
  width: 100%;
  margin: 0;
  line-height: 0;
}

.section-banner-image {
  width: auto;
}

.section-banner-item {
  display: inline-block;
}

.section-story-list {
  lost-utility: clearfix;
  list-style: none;
  padding: 2rem 0;
  margin: 0;

  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;

  @media (--large-view) {
    padding: 2rem 0 0 0;
    white-space: normal;
  }
}

.story-list-item {
  margin: 0 1rem;
  display: inline-block;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & .section-banner {
    padding: 5%;
    position: relative;
    height: 100%;
    width: 100%;
  }

  & .section-banner-image {
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  width: 70%;
  height: 14rem;

  &:first-child {
    margin-left: 15%;
  }

  @media (--medium-view) {
    height: 16rem;
  }

  @media (--large-view) {
    &:first-child {
      margin-left: 0;
    }

    margin: 0 2rem 2rem 0;

    width: calc(1 / 3 * 100% - ((2rem * 2) / 3));
    height: 12rem;
    float: left;

    @media (--xlarge-view) {
      height: 16rem;
    }

    &:nth-child(3),
    &:nth-child(3n+5),
    &:nth-child(6n),
    &:last-child {
      &:not(
        :nth-last-child(3),
        :nth-last-child(2)) {

        margin-right: 0;
        float: right;
      }
    }

    &:nth-child(6n+4),
    &:nth-child(6n+8) {
      &:not(:nth-last-child(-n+3)) {
        height: 26rem;
        width: calc(2 / 3 * 100% - (2rem / 3));

        @media (--xlarge-view) {
          height: 34rem;
        }
      }
    }
  }
}

.story-text {
  color: white;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  margin: 0.5rem 0;
  width: 90%;

  transition: transform 300ms, opacity 300ms;
}

.story-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: background-color 300ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.story-link-with-text {
  white-space: normal;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 300ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);

    & .story-title:not(:last-child) {
      transform: translateY(-101%);
    }

    & .story-blurb {
      transform: translateY(1%);
      opacity: 1;
    }
  }
}

.story-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;

  @media (--medium-view) {
    font-size: 1.4rem;
  }

  @media (--large-view) {
    font-size: 1.1rem;
  }

  @media (--xlarge-view) {
    font-size: 1.4rem;
  }
}

.story-blurb {
  opacity: 0;

  font-size: 0.9rem;

  @media (--xlarge-view) {
    font-size: 1rem;
  }
}
