/* title styling */

#title-container {
  line-height: 0;
  margin-top: 2rem;
  margin-bottom: 0%;
  lost-center: 90%;
  border-bottom: 1px solid grey;
}

#title {
  lost-center: 90%;

  @media (--small-view) {
    lost-center: 60%;
  }

  @media (--large-view) {
    lost-center: 40%;
  }

  @media (--xlarge-view) {
    lost-center: 30%;
  }
}

#subtitle {
  lost-center: 60%;

  @media (--medium-view) {
    lost-center: 30%;
  }

  @media (--large-view) {
    lost-center: 20%;
  }

  @media (--xlarge-view) {
    lost-center: 15%;
  }
}

.title-image {
  width: 100%;
}
